//
   Created with JetBrains WebStorm.
   User: jhudiel
   Date: 7/2/13
   Time: 3:15 AM
   To change this template use File | Settings | File Templates.

//
   Created with JetBrains WebStorm.
   User: jhudiel
   Date: 6/26/13
   Time: 9:34 PM
   To change this template use File | Settings | File Templates.

extends layout

block content
    .navbar
        .navbar-inner

            ul.nav
                li.active
                    a(href="/admin/dashboard") EazyPass / Dashboard
            ul.nav.pull-right


    #wrap.ep-container
        .container2
            a(href="/admin/dashboard/movie/create").btn.btn-success Create new movie
            table.table.table-striped
                thead
                    tr
                        th #
                        th Name
                        th Genre
                        th Showing Date

                tbody
                    - each movie in movies
                        tr
                            td=counter++
                            td=movie.name
                            td=movie.genre
                            td=movie.date
                            td
                                a(href="/admin/dashboard/movie/#{movie.id}/update") Edit |
                                input(type='hidden', value='#{movie.id}')
                                a#delete(href="javascript:void(0)")  Delete

     script(src='/static/js/delete.js')